# Android SDK
build-tools/
cmdline-tools/
platforms/
platform-tools/
licenses/
.temp/

# Build output
build/
*.apk
*.keystore

# Gradle
.gradle/
gradle-*.zip/

# Node
node_modules/
package-lock.json

# IDE
.idea/
*.iml
android/.knownPackages
